/* Mobile first */

:root {
    --header-height: 4rem;
}

body {
    margin: 0;
    padding: 0;
    background: #fffef3;
    color: #5b5bdd;
    font-family: 'DM Serif Display', serif;
}

header {
    background: #fffef3;
    height: var(--header-height);
    inset: 0;
    position: fixed;
    border-bottom: solid 0.1rem #5b5bdd;
}


h2 {
    font-size: 1.6rem;
    /*background-color: white;
    border: solid 0.09rem black;*/
}

.icons {
    width: 100%;
    /*background-color: white;
    border: solid 0.09rem black;*/
}


i {
    font-size: 2rem;
}

i:hover {
    font-size: 3rem;
}

.icon-link {
    color: #5b5bdd;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 3.2rem;
}

.list-link {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    text-decoration: none;
    color: #5b5bdd;
    
}

.list-link:hover {
    font-size: 3.6rem;
    font-style: normal;
    transition: all 0.5s ease-out;
    text-decoration-line: underline;
}

p {
    font-family: 'Montserrat', sans-serif;
    /*background-color: white;
    border: solid 0.09rem black;*/
}

.school {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #5b5bdd;
    text-decoration: none;
}

.school:hover {
    transition: all 0.5s ease-out;
    color: #5b5bdd;
    text-decoration: underline;
    font-size: 1.2rem;
}


a:hover {
    transition: all 0.5s ease-out;
    text-decoration-line: underline;
    color: #5b5bdd;
}

hr {
    background-color: #5b5bdd;
    border-style: solid;
    margin-top: 1rem;
}

.presentation {
    margin-top: 7rem;
    flex-direction: column;
    /*background-color: white;
    border: solid 0.09rem black;*/
}

nav {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
    /*background-color: white;
    border: solid 0.09rem black;*/
}


/* Reusable classes */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.spacing {
    letter-spacing: .08rem;
}

.uppercase {
    text-transform: uppercase;
}

.margin-right {
    margin-right: 2rem;
}

.margin-left {
    margin-left: 2rem;
}

.line-height {
    line-height: 1.6;
}

/* Tablet */

@media (min-width: 768px) {
    
    h2 {
        font-size: 1.9rem;
    }

    li {
        font-size: 5rem;
    }

    hr {
        margin-top: 3rem;
    }

    .list-link:hover {
        font-size: 6rem;
    }

    .margin-left {
        margin-left: 3rem;
    }
    
    .margin-right {
        margin-right: 3rem;
    }
}

/* Desktop */ 

@media (min-width: 1024px) {

    .flex-column {
        flex-direction: row;
    }

    .presentation {
        height: 32rem;
    }

    nav {
        margin-top: 7rem;
    }

    header {
        justify-content: center;
    }

    main {
        justify-content: center;
    }

    h2 {
        font-size: 2.3rem;
    }

    .icons {
        justify-content: flex-start;
    }

    i {
        margin-left: 3rem;
    }

    hr {
        margin-top: 1rem;
    }

    .margin-left {
        margin-left: 4rem;
    }

    .margin-right {
        margin-right: 4rem;
    }
}
