/* Mobile first */

body {
    margin: 0;
    padding: 0;
    background: #f1f4ff;
    color: #001f9b;
    font-family: 'Tenor Sans', sans-serif;
}

header {
    background: #f1f4ff;
    /*background: rgb(238, 234, 226);*/
    height: 4rem;
    width: 100%;
    position: fixed;
    border-bottom: solid 0.09rem #001f9b;
}


h2 {
    font-size: 1.3rem;
}

.icons {
    width: 60%;
}

i {
    font-size: 2rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 3rem;
}

a {
    font-family: 'Tenor Sans', sans-serif;
    text-decoration: none;
    color: #001f9b;
    /*color: rgb(25, 25, 25);*/
    
}

p {
    font-family: 'Montserrat', sans-serif;
}


a:hover {
    font-size: 4rem;
    transition: all 0.5s ease-out;
    text-decoration-line: underline;
}

.presentation {
    margin-top: 7rem;
    /*background-color: white;
    border: solid 0.09rem black;*/
}

nav {
    padding: 0;
    /*background-color: white;
    border: solid 0.09rem black;*/
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* Reusable classes */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.spacing {
    letter-spacing: .08rem;
}

.uppercase {
    text-transform: uppercase;
}

.margin-left-2 {
    margin-left: 2rem;
}

.margin-right-2 {
    margin-right: 2rem;
}

.line-height {
    line-height: 1.6;
}

@media (min-width: 1024px) {


    
}
